@import 'src/variables.scss';

:host {
    width: 100%;
}

.password-input-container {
    display: flex;

    input {
        width: 100%;
        
        &.has-errors {
            color: #cc0a0a;
            border-color: red;
            background-color: #fff5f5;
        }
    }

    .anchor-container {
        position: relative;
        width: 0;
        height: 0;

        > span {
            color: grey;
            right: 5px;
            top: 12px;
            position: absolute;
        }
    }
}